.percentage-box {
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    color: inherit !important;
}

.year-box {
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    color: inherit !important;
}
