.pf-m-2xl-override {
    font-size: var(--pf-c-title--m-2xl--FontSize) !important;
    font-weight: var(--pf-c-title--m-2xl--FontWeight) !important;
    line-height: var(--pf-c-title--m-2xl--LineHeight) !important;
}

.stack-item-border {
    padding: 12px;
    border: 1px solid #dedede;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.disclaimer {
    margin-left: -25px;
    margin-right: -25px;
}