.vertical-align-middle {
    vertical-align: middle !important;
}

.table-vertical-align-middle.pf-c-table tr > *:first-child {
    vertical-align: middle !important;
    padding-bottom: 20px !important;
}

.WorkloadInventory_truncate_table_column {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}