.vertical-align-middle {
    vertical-align: middle !important;
}

.table-vertical-align-middle.pf-c-table tr > *:first-child {
    vertical-align: middle !important;
    padding-bottom: 20px !important;
}